out/
build_dir/
build/
packager/
backup.tar.xz
backup/
archlive/airootfs/etc/skel/.vim/
archlive/airootfs/etc/skel/.tmux/
archlive/airootfs/etc/skel/.tmux.conf
archlive/airootfs/etc/skel/.dwm/
archlive/airootfs/etc/skel/.fzf/
archlive/airootfs/etc/skel/.bashrc
archlive/airootfs/etc/skel/.conkyrc
archlive/airootfs/etc/skel/.vimrc
archlive/airootfs/etc/skel/.tint2rc
archlive/airootfs/etc/skel/.tigrc
archlive/airootfs/etc/skel/.
