out/
build_dir/
build/
packager/
backup.tar.xz
backup/
archlive/airootfs/opt/dwmstat
archlive/airootfs/opt/larp
archlive/airootfs/opt/Responder
archlive/airootfs/opt/evil-winrm
archlive/airootfs/root/.vim/
archlive/airootfs/root/.tmux/
archlive/airootfs/root/.tmux.conf
archlive/airootfs/root/.dwm/
archlive/airootfs/root/.fzf/
archlive/airootfs/root/.bashrc
archlive/airootfs/root/.conkyrc
archlive/airootfs/root/.vimrc
archlive/airootfs/root/.tint2rc
archlive/airootfs/root/.tigrc
archlive/airootfs/root/.
