[Unit]
Description=Install new certificates from loot certs folder

[Service]
Type=oneshot
SendSIGHUP=no
Type=simple
KillMode=none
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
Environment=TERM=linux
ExecStart=/etc/p3ng0s/certs/cert-install.sh
RemainAfterExit=no
User=root
Group=root
