[Unit]
Description=TigerVNC Virtual Display
After=network.target
Requires=p3ng0s-dropbox-worker.service

[Service]
Type=simple
User=p4p1-live
ExecStart=/usr/bin/Xvnc :1 -geometry 1920x1080 -depth 24 -rfbport 5901 -SecurityTypes None -localhost
Restart=on-failure

[Install]
WantedBy=p3ng0s-dropbox.target
