[Unit]
Description=P3NG0S Cracking Environment
# Clean up the TTYs for Hashcat
Conflicts=getty.target systemd-user-sessions.service getty@tty1.service dbus.socket
# Ensure we don't try to crack if the drive somehow got unmounted
ConditionPathIsMountPoint=/home/p4p1-live/loot
#ConditionPathIsMountPoint=/home/p4p1/loot
# Stop everything else to give CPU/GPU to Hashcat
AllowIsolate=yes
Before=getty@tty1.service display-manager.service
Wants=p3ng0s-cracker-worker.service
After=systemd-user-sessions.service
IgnoreOnIsolate=yes

#[Install]
#WantedBy=multi-user.target
